.AboutMeContent {
  padding: 6rem;
  h2 {
    margin-bottom: 40px;
    font-size: 27px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    line-height: 1.1;
    font-weight: 400;
  }
}

.ProfileImgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.ImgContainer {
  width: 33%;
  padding-right: 20px;

  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.AboutMeTextContainer {
  width: 66%;

  P {
    margin: 0;
    height: 100%;
    font-size: 17px;
  }
}

.btnContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .ProfileImgContainer {
    flex-direction: column;
  }
  .ImgContainer {
    width: 100%;
    padding-right: 0px;
  }
  .AboutMeTextContainer {
    width: 100%;
    text-align: justify;
    p {
      margin-top: 14px;
    }
  }
  .btnContainer {
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
  }
}
