/* .SkillsContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
    position: relative; 
} */

.SkillsContainer {
  width: 100%;
  overflow: hidden;
}

.SkillsWrapper {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.Skills {
  width: 80px;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  h3 {
    margin: 0;
    font-family: Oswald Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
