.ExperienceContent {
  margin-bottom: 40px;
  small {
    font-size: 87%;
    color: #555;
  }
  h3 {
    margin-top: 3px;
    margin-bottom: 20px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
  }
  a {
    color: #000;
    font-weight: 700;
    color: var(--primary-color-light);
  }
  a:hover {
    color: #ff0060;
  }
  ul {
    margin-bottom: 12.5px;
    margin-top: 0;
    font-size: 17px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .ExperienceContent {
    ul {
      padding-right: 10px;
    }
  }
}
