.MainContainer {
  position: relative;
  z-index: 1;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 0 15px;
}

@media only screen and (max-width: 600px) {
  .Container {
    padding: 0px;
  }
}
