@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

:root {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color-dark: #ff0060;
  --primary-color-light: #ff6975;

  --font-color: #555;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(
    180deg,
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  background-repeat: repeat-x;
  font-size: 16px;
  font-family: Lato Arial, Helvetica, sans-serif;
  line-height: 1.58;
  color: var(--font-color);
}

a {
  text-decoration: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px; /* For vertical scrollbar */
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
  border-radius: 8px;
  /* border: 1px solid #555; */
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
